/* body{
    width: 1800px;
} */
.container-fluid {
    margin-left: 40px;
}

.input-group {
    margin-top: 15px;
}

.selects {
    width: 31.3%;
    height: 36px;
    border: 1px solid #ccc;
    margin-right: 15px;
}

.selectIitem {
    width: 100%;
    height: 36px;
    border: 1px solid #ccc;
}

.input-group .form-control.columinput {
    z-index: 0;
    width: 31.3%;
}
.input-group.columnsetup{
   position: relative;
}
.input-group.columnsetup p{
    position: absolute;
    top: 7px;
    left: 29%;
    padding: 0 10px;
    color: #fff;
    background-color: #169BD5;
    cursor: pointer;
}

.container{
    margin-top: 20px;
}
/* .lanmu{
    position: relative;
}
.lanmubg{
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background: url("../img/note.gif") no-repeat;
} */
.annotation{
    border-width: 0px;
    position: absolute;
    left: 217px;
    top: -6px;
    width: 1px;
    height: 1px;
}
.annnoteimage{
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 0px;
    cursor: help;
    width: 13px;
    height: 12px;
    padding-top: 1px;
    text-align: center;
    background-color: #138CDD;
    box-shadow: 1px 1px 3px #aaa;
}
.annnoteline{
    display: inline-block;
    width: 9px;
    height: 1px;
    border-bottom: 1px solid white;
    margin-top: 2px;
}
.haveset{
    color: #00CCCC;
}
.noset{
    color: #FF0000;
}
.row.list{
    margin-top: 20px;
}
/* .footer{
    width: 100%;
    margin-top: 30px;
} */
.save{
   width: 100px;
   margin: 50px 35%
}