.sencend{
    margin-left: 2%;
}
.table caption{
    text-align: center;
    border: 1px solid #ccc;
    background-color: #ccc;
    border-bottom: none;
}
/* .container-fluid{
   
} */
.four{
    /* margin-left: 4%; */
    position: absolute;
    top: 5.5%;
    right:3%;
}
p{
    margin: 0;
    font-size: 12px;
}
.box{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
/* #list{
    position: absolute;
    top: 60%;
} */