.selectlist{
    height: 30px;
    width: 300px;
}
.input-group{
    margin: 20px 0;
}
.title{
    width: 444.8px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #ccc;
}
.form-control{
    margin-top: 15px;
    text-align: center;
}
.time{
    width: 160px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #ccc;
}
.column{
    width: 64.8px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #ccc;
}
.input-group .form-control{
  border-radius: 0;
}
#radius{
    border-radius: 8px;
}